/* jimdobox */
 /*  C&C Divs
----------------------------------------------- */

div.n,
div.flexmodul { padding: 5px; }
html * div.n { height:1%} /* IE6 */


address { font-style:normal;}
.small { font-size:80%;}
.caption { font-size: 80%; } /*  Untertitel bei Bildern  */



/*
    jimdobox
*/

div#jimdobox
{
    width:170px;
    border:1px solid #CCC;
    background:white;
    padding:5px;
    font: 11px/140% Verdana, Geneva, Arial, Helvetica, sans-serif;
    overflow:hidden;
    color:#333;
    text-align:left;
}

div#jimdobox a,
div#jimdobox a:visited,
div#jimdobox a.jimdolink,
div#jimdobox a.jimdolink:visited
{
    color:#0097DF;
    text-decoration:underline;
    outline:none;
}

div#jimdobox a:hover,
div#jimdobox a.jimdolink:hover
{
    color:#0097DF;
    text-decoration:none;
}


div#jimdobox img#jimdologo
{
    display:block;
    margin:3px 0 0 10px;
}

div#jimdobox img#kwclogo
{
    display:block;
    margin:20px 0 0 10px;
}

div#jimdobox span.title { margin:3px 0 0 28px; color: #4D4D4D; }

div#jimdobox select {width:160px;}
div#jimdobox input {width:160px; margin-bottom:2px;}

div#jimdobox hr {
    background-color:#CCC;
    color:#CCC;
    border: #CCC;
    height: 1px;
}

div#systemWorking { padding-top:2px; }

ul#jimdobox-sites {
    list-style:none;
    margin:0;
    padding:5px 0 0 0;
}

ul#jimdobox-sites li {
    margin:0;
    padding:0;
    display:inline;
}

ul#jimdobox-sites li a,
ul#jimdobox-sites li a:visited
{
    display:block;
    background:#F1F1F1;
    margin-top:1px;
    padding:2px;
    font: 11px/140% Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:#0097DF;
}

ul#jimdobox-sites li a:hover
{
    background:#0097DF;
    color:white;
}


/* ownbackground */
 
/* shop */
 /* Variables Siteadmin - Style - Shop
----------------------------------------------- */

a.cc-shop-addtocard,
a.cc-shop-addtocard:visited,
a.cc-sidecart-checkout,
a.cc-sidecart-checkout:visited,
input.cc-checkout-btn
{
    color: #F1F1F1 !important;
    background-color: #123D6D !important;
    font-size: 11px !important;
}

a.cc-shop-addtocard:hover,
a.cc-sidecart-checkout:hover,
input.cc-checkout-btn:hover
{
    color: #F1F1F1 !important;
    background-color: #0F2E53 !important;
}

a.cc-addtocard-disabled:hover { background-color: #123D6D !important;}

.cc-shop-price
{
    color: #990000 !important;
    font-size: 18px !important;
}

div.cc-catalog-galleryview div.cc-webview-product-price strong,
div.cc-catalog-listview div.cc-webview-product-price strong,
div.cc-catalog-sliderview div.cc-webview-product-price strong
{
    color: #990000 !important;
}

div#cc-checkout-variant-1 a,
div#cc-checkout-variant-1 div.cc-checkout-step1 div.cc-progress-step1,
div#cc-checkout-variant-1 div.cc-checkout-step2 div.cc-progress-step1,
div#cc-checkout-variant-1 div.cc-checkout-step2 div.cc-progress-step2,
div#cc-checkout-variant-1 div.cc-checkout-step3 div.cc-progress-step1,
div#cc-checkout-variant-1 div.cc-checkout-step3 div.cc-progress-step2,
div#cc-checkout-variant-1 div.cc-checkout-step3 div.cc-progress-step3,
div#cc-checkout-variant-1 div.cc-checkout-step4 div.cc-progress-step1,
div#cc-checkout-variant-1 div.cc-checkout-step4 div.cc-progress-step2,
div#cc-checkout-variant-1 div.cc-checkout-step4 div.cc-progress-step3,
div#cc-checkout-variant-1 div.cc-checkout-step4 div.cc-progress-step4,

div#cc-checkout-variant-4 a,
div#cc-checkout-variant-4 div.cc-checkout-step1 div.cc-progress-step1 span,
div#cc-checkout-variant-4 div.cc-checkout-step2 div.cc-progress-step1 span,
div#cc-checkout-variant-4 div.cc-checkout-step2 div.cc-progress-step2 span,
div#cc-checkout-variant-4 div.cc-checkout-step3 div.cc-progress-step1 span,
div#cc-checkout-variant-4 div.cc-checkout-step3 div.cc-progress-step2 span,
div#cc-checkout-variant-4 div.cc-checkout-step3 div.cc-progress-step3 span,
div#cc-checkout-variant-4 div.cc-checkout-step4 div.cc-progress-step1 span,
div#cc-checkout-variant-4 div.cc-checkout-step4 div.cc-progress-step2 span,
div#cc-checkout-variant-4 div.cc-checkout-step4 div.cc-progress-step3 span,
div#cc-checkout-variant-4 div.cc-checkout-step4 div.cc-progress-step4 span
{
    color: #000000 !important;
}

div#cc-checkout-variant-2 div.cc-checkout-step1 div.cc-progress-step1,
div#cc-checkout-variant-2 div.cc-checkout-step2 div.cc-progress-step1,
div#cc-checkout-variant-2 div.cc-checkout-step3 div.cc-progress-step1,
div#cc-checkout-variant-2 div.cc-checkout-step4 div.cc-progress-step1,
div#cc-checkout-variant-2 div.cc-checkout-step2 div.cc-progress-step2,
div#cc-checkout-variant-2 div.cc-checkout-step3 div.cc-progress-step2,
div#cc-checkout-variant-2 div.cc-checkout-step4 div.cc-progress-step2,
div#cc-checkout-variant-2 div.cc-checkout-step3 div.cc-progress-step3,
div#cc-checkout-variant-2 div.cc-checkout-step4 div.cc-progress-step3,
div#cc-checkout-variant-2 div.cc-checkout-step4 div.cc-progress-step4,

div#cc-checkout-variant-3 div.cc-checkout-step1 div.cc-progress-step1,
div#cc-checkout-variant-3 div.cc-checkout-step2 div.cc-progress-step1,
div#cc-checkout-variant-3 div.cc-checkout-step3 div.cc-progress-step1,
div#cc-checkout-variant-3 div.cc-checkout-step4 div.cc-progress-step1,
div#cc-checkout-variant-3 div.cc-checkout-step2 div.cc-progress-step2,
div#cc-checkout-variant-3 div.cc-checkout-step3 div.cc-progress-step2,
div#cc-checkout-variant-3 div.cc-checkout-step4 div.cc-progress-step2,
div#cc-checkout-variant-3 div.cc-checkout-step3 div.cc-progress-step3,
div#cc-checkout-variant-3 div.cc-checkout-step4 div.cc-progress-step3,
div#cc-checkout-variant-3 div.cc-checkout-step4 div.cc-progress-step4
{
    background-color: #000000 !important;
}
/* datepicker */
 
/* Datesticker
--------------------------------------------------------- */

/* C1 as Background */
div.datetime.dt-style1,
div.datetime.dt-style2,
div.datetime.dt-style3,
div.datetime.dt-style4,
div.datetime.dt-style6 .datetime-inner
{
    background: #0099EE !important;
}

/* C1 as Color */
div.datetime.dt-style7 p.day,
div.datetime.dt-style8 p.day,
div.datetime.dt-style10 p
{
    color: #0099EE !important;
}

/* C2 as Color */
div.datetime.dt-style1 p,
div.datetime.dt-style2 p,
div.datetime.dt-style3 p,
div.datetime.dt-style4 p,
div.datetime.dt-style5 p,
div.datetime.dt-style6 p,
div.datetime.dt-style7 p,
div.datetime.dt-style8 p
{
    color: #0099EE !important;
}

/* C1 as Border-Bottom */
div.datetime.dt-style5,
div.datetime.dt-style6
{
    border-bottom: 1px solid #0099EE !important;
}

/* Various */
div.datetime.dt-style7.dt-alignment-left { border-right: 1px solid #0099EE !important; }
div.datetime.dt-style7.dt-alignment-right { border-left: 1px solid #0099EE !important; }
div.datetime.dt-style8 p.day { border-right: 1px solid #0099EE !important; }

/*
     FILE ARCHIVED ON 02:35:32 Apr 03, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:15:04 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.424
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.061
  esindex: 0.005
  cdx.remote: 17.31
  LoadShardBlock: 80.12 (3)
  PetaboxLoader3.datanode: 81.636 (4)
  PetaboxLoader3.resolve: 74.637 (2)
  load_resource: 133.518
*/