.onlymobile{display:none}
/*
     FILE ARCHIVED ON 17:42:09 Jul 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:17:24 Sep 06, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.417
  exclusion.robots: 0.059
  exclusion.robots.policy: 0.051
  esindex: 0.006
  cdx.remote: 8.472
  LoadShardBlock: 84.903 (3)
  PetaboxLoader3.datanode: 140.577 (4)
  PetaboxLoader3.resolve: 58.936 (2)
  load_resource: 121.666
*/