.onlymobile{display:none}
/*
     FILE ARCHIVED ON 06:34:40 Apr 12, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:54:07 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.434
  exclusion.robots: 0.059
  exclusion.robots.policy: 0.049
  esindex: 0.007
  cdx.remote: 7.453
  LoadShardBlock: 2800.638 (3)
  PetaboxLoader3.datanode: 84.98 (4)
  PetaboxLoader3.resolve: 1739.661 (2)
  load_resource: 94.913
*/