.onlymobile{display:none}
/*
     FILE ARCHIVED ON 06:05:45 Jun 18, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:46:56 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 4.366
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.071
  esindex: 0.011
  cdx.remote: 22.223
  LoadShardBlock: 258.54 (3)
  PetaboxLoader3.datanode: 193.812 (4)
  PetaboxLoader3.resolve: 107.034 (2)
  load_resource: 99.48
*/