.onlymobile{display:none}
/*
     FILE ARCHIVED ON 03:53:41 May 26, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:12:11 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.672
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.073
  esindex: 0.011
  cdx.remote: 6.644
  LoadShardBlock: 110.655 (3)
  PetaboxLoader3.datanode: 171.156 (4)
  load_resource: 215.678
  PetaboxLoader3.resolve: 43.329
*/