.onlymobile{display:none}
/*
     FILE ARCHIVED ON 09:48:49 Jun 04, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:10:23 Sep 06, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.515
  exclusion.robots: 0.059
  exclusion.robots.policy: 0.046
  esindex: 0.006
  cdx.remote: 8.408
  LoadShardBlock: 67.897 (3)
  PetaboxLoader3.datanode: 65.055 (4)
  load_resource: 83.029
  PetaboxLoader3.resolve: 45.662
*/