.onlymobile{display:none}
/*
     FILE ARCHIVED ON 13:06:26 Jul 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:59:34 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.644
  exclusion.robots: 0.098
  exclusion.robots.policy: 0.068
  esindex: 0.008
  cdx.remote: 6.293
  LoadShardBlock: 84.517 (3)
  PetaboxLoader3.datanode: 1841.211 (4)
  PetaboxLoader3.resolve: 95.914 (3)
  load_resource: 1988.643
*/