.onlymobile{display:none}
/*
     FILE ARCHIVED ON 22:04:30 Jun 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:34:10 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.827
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.077
  esindex: 0.011
  cdx.remote: 14.766
  LoadShardBlock: 97.771 (3)
  PetaboxLoader3.datanode: 104.14 (4)
  PetaboxLoader3.resolve: 1001.756 (2)
  load_resource: 1014.22
*/