.onlymobile{display:none}
/*
     FILE ARCHIVED ON 16:49:51 Jul 30, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:47:45 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.872
  exclusion.robots: 0.088
  exclusion.robots.policy: 0.073
  esindex: 0.009
  cdx.remote: 53.979
  LoadShardBlock: 139.715 (3)
  PetaboxLoader3.resolve: 100.523 (4)
  PetaboxLoader3.datanode: 1124.787 (4)
  load_resource: 1294.283
*/