.onlymobile{display:none}
/*
     FILE ARCHIVED ON 06:29:11 Jun 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:17:09 Sep 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.389
  exclusion.robots: 0.047
  exclusion.robots.policy: 0.04
  esindex: 0.006
  cdx.remote: 10.105
  LoadShardBlock: 475.379 (3)
  PetaboxLoader3.datanode: 475.449 (4)
  load_resource: 159.092
  PetaboxLoader3.resolve: 68.799
*/